# Logs
logs
*.log
__pycache__

# dotenv environment variables file
.env

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Test Files #
test-2019-01-04.txt